### Qualidade
Antes de realizarmos transformações nos dados, é importante estabelecermos processos que apontem
erros de qualidade nos dados que estamos trabalhado, dessa forma é possível ter clareza das
inconsistências comuns e assim criar formas de melhorar a qualidade dos dados. Pensando nisso, a
primeira atividade planejada é criarmos uma coluna adicional reportando o tipo de inconsistência que
encontramos nos datasets.

### Dicionário
* <b>faa (string):</b> Identificador do aeroporto determinado pela Federal Aviation Administration. Formato: 3-
5 caracteres alfanuméricos.<br>
* <b> name (string)</b>: Nome do aeroporto.<br>
* <b> lat (float):</b> Latitude do aeroporto. Intervalo de valores [−180, 180]. <br>
* <b> lon (float):</b> Longitude do aeroporto Intervalo de valores . [−180, 180] <br>
* <b> alt (int):</b> Altitude do aeroporto. Unidade de medida em pés. Intervalo de valores [0,+∞) . <br>
* <b> tz (float):</b> Fuso horário baseado no deslocamento de horas a partir de UTC/GMT. Intervalo de valores [−11,+14] 
. Pode ser fuso fracionário [1] <br>
* <b> dst (category):</b> Horário de verão. Descrição dos possíveis valores [2]: <br>
*  E (Europe)
*  A (US/Canada)
*  S (South America) 
*  O (Australia) 
*  Z (New Zealand)
*  N (None) 
*  U (Unknown)

In [1]:
# Installing required packages
!pip install pyspark
!pip install findspark

Requirement already satisfied: pyspark in c:\users\dsilva10\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in c:\users\dsilva10\anaconda3\lib\site-packages (from pyspark) (0.10.9.3)
Requirement already satisfied: findspark in c:\users\dsilva10\anaconda3\lib\site-packages (2.0.1)

In [2]:
# Locate spark
import findspark
findspark.init()

In [3]:
# Importando pacotes
import re
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from pyspark.sql import functions as F  # Importando todas as funções 
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType,BooleanType

In [43]:
# Expressoes regulares comuns
# Boas práticas (variáveis constantes em maiusculo)
REGEX_ALPHA    = r'[a-zA-Z]+'
REGEX_INTEGER  = r'[0-9]+'
REGEX_FLOAT    = r'[0-9]+\.[0-9]+'
REGEX_ALPHANUM = r'[0-9a-zA-Z]+'
REGEX_EMPTY_STR= r'[\t ]+$'
REGEX_SPECIAL  = r'[!@#$%&*\(\)_]+'
REGEX_NNUMBER  = r'^N[1-9][0-9]{2,3}([ABCDEFGHJKLMNPRSTUVXWYZ]{1,2})'
REGEX_NNUMBER_INVALID = r'(N0.*$)|(.*[IO].*)'
REGEX_TIME_FMT = r'^(([0-1]?[0-9])|(2[0-3]))([0-5][0-9])$'
REGEX_NNUMBER_NEGATIVE = r'^-\d*\.?\d+$'
REGEX_PARENTESE = r'[(\)]+'

In [37]:
# Funcoes auxiliares 
def split_csv(line):
    return tuple(map(lambda x: x.replace('"',''), line.split(",")))

def check_empty_column(col):
    return (F.col(col).isNull() | (F.col(col) =='') | F.col(col).rlike(REGEX_EMPTY_STR))

def create_regex_from_list(_list):
    return r'|'.join(map(lambda x : f".*({x}).*", _list))


def format_year_date(col):
    return (F.date_format(F.current_date(),"yyyy") - col).cast('int')

In [6]:
# Criar o contexto do spark
sc = SparkContext()

# Instancia o criador de sessao do spark
spark = (SparkSession.builder
                     .master("local[7]")
                     .appName("Aceleração PySpark - Capgemini"))

In [7]:
# Criando Structure (Schema)

schema_airports = StructType([
    StructField("faa",  StringType(),  True),
    StructField("name", StringType(),  True),
    StructField("lat",  FloatType(),   True),
    StructField("lon",  FloatType(),   True),
    StructField("alt",  IntegerType(), True),
    StructField("tz",   IntegerType(), True),
    StructField("dst",  StringType(),  True)
])

schema_planes = StructType([
    StructField("tailnum",      StringType(),  True),
    StructField("year",         IntegerType(), True),
    StructField("type",         StringType(),  True),
    StructField("manufacturer", StringType(),  True),
    StructField("model",        StringType(),  True),
    StructField("engines",      IntegerType(), True),
    StructField("seats",        IntegerType(), True),
    StructField("speed",        IntegerType(), True),
    StructField("engine",       StringType(),  True)
])

schema_flights = StructType([
    StructField("year",      IntegerType(), True),
    StructField("month",     IntegerType(), True),
    StructField("day",       IntegerType(), True),
    StructField("dep_time",  StringType(),  True),
    StructField("dep_delay", IntegerType(), True),
    StructField("arr_time",  StringType(),  True),
    StructField("arr_delay", IntegerType(), True),
    StructField("carrier",   StringType(),  True),
    StructField("tailnum",   StringType(),  True),
    StructField("flight",    StringType(),  True),
    StructField("origin",    StringType(),  True),
    StructField("dest",      StringType(),  True),
    StructField("air_time",  IntegerType(), True),
    StructField("distance",  IntegerType(), True),
    StructField("hour",      IntegerType(), True),
    StructField("minute",    IntegerType(), True),
])

In [8]:
# Lendo Datasets 
df_airports = (spark.getOrCreate().read
                   .format("csv")
                   .option("header","True")
                   .schema(schema_airports)
                   .load("../../pyspark-capgemini/data/airports.csv"))


df_planes = (spark.getOrCreate().read
                   .format("csv")
                   .option("header","True")
                   .schema(schema_planes)
                   .load("../../pyspark-capgemini/data/planes.csv"))


df_flights = (spark.getOrCreate().read
                   .format("csv")
                   .option("header","True")
                   .schema(schema_flights)
                   .load("../../pyspark-capgemini/data/flights.csv"))

In [9]:
df_airports.printSchema()

root
 |-- faa: string (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: float (nullable = true)
 |-- lon: float (nullable = true)
 |-- alt: integer (nullable = true)
 |-- tz: integer (nullable = true)
 |-- dst: string (nullable = true)

In [10]:
# Criacao das visões temporarias
df_airports.createOrReplaceTempView('airports')

In [11]:
# Leitura dos dados como RDD
rdd_airports = sc.textFile("../../pyspark-capgemini/data/airports.csv")

In [12]:
# armazena a primeira linha (colunas) do arquivo como referencia.
header_airports = rdd_airports.first()

# Remove a primeira linha (colunas) do rdd
rdd_airports = rdd_airports.filter(lambda line: line != header_airports).map(split_csv)

### Criando função para adicionar linhas e testar o código.

In [15]:
def add_test_rows_for_airports(data,_format): #convenção para usar _ para diferenciar de nomes reservados
        # Adiciona linhas para testar regras de negócio
        values = [
        #faa    name  lat       lon               alt         tz            dst
        (0 ,     0,    0    ,   0            ,    '-20'     ,  0,             0),
        (''   , ''  , ''      , ''              , ''        ,   ''  ,        ''),
        ('   ', None, '12O.12', '-80.Aa6195833' , '-50'  ,   '5',          'U'),
        ('AAA', None, '12O.12', '-80.Aa6195833' , '-50'  ,   '4',         'U' ),
        ('222', None, None    , '-80.Aa6195833' , '-100'    ,        '-14', 'U'),
        ('__!', None, None    , '-80.Aa6195833' , '-100'    ,        '-14', 'U')
    ]
        if _format =="df":
            return spark.getOrCreate().createDataFrame(values,data.columns).union(data)
        elif _format == "rdd":
            return sc.parallelize(tuple(values)).union(data)

In [16]:
# Adicionando linhas ao Dataframe
df_airports  = add_test_rows_for_airports(df_airports,  "df")

TypeError: field faa: Can not merge type <class 'pyspark.sql.types.LongType'> and <class 'pyspark.sql.types.StringType'>

In [17]:

rdd_airports.take(10)

[('04G', 'Lansdowne Airport', '41.1304722', '-80.6195833', '1044', '-5', 'A'),
 ('06A',
  'Moton Field Municipal Airport',
  '32.4605722',
  '-85.6800278',
  '264',
  '-5',
  'A'),
 ('06C', 'Schaumburg Regional', '41.9893408', '-88.1012428', '801', '-6', 'A'),
 ('06N', 'Randall Airport', '41.431912', '-74.3915611', '523', '-5', 'A'),
 ('09J',
  'Jekyll Island Airport',
  '31.0744722',
  '-81.4277778',
  '11',
  '-4',
  'A'),
 ('0A9',
  'Elizabethton Municipal Airport',
  '36.3712222',
  '-82.1734167',
  '1593',
  '-4',
  'A'),
 ('0G6',
  'Williams County Airport',
  '41.4673056',
  '-84.5067778',
  '730',
  '-5',
  'A'),
 ('0G7',
  'Finger Lakes Regional Airport',
  '42.8835647',
  '-76.7812318',
  '492',
  '-5',
  'A'),
 ('0P2',
  'Shoestring Aviation Airfield',
  '39.7948244',
  '-76.6471914',
  '1000',
  '-5',
  'U'),
 ('0S9',
  'Jefferson County Intl',
  '48.0538086',
  '-122.8106436',
  '108',
  '-8',
  'A')]

# Dataset airports

### 1 pergunta<br>

In [14]:
# Usando Dataframe

df_airports.filter(F.col('alt') < 0 ).show()

df_airports = df_airports.withColumn('alt',
                                      F.when(F.col('alt') < 0 , 0)
                                       .otherwise(F.col('alt'))
                                    )
                                                                                 

df_airports.filter(F.col('alt') < 0 ).show()

+---+-------------+---------+----------+---+---+---+
|faa|         name|      lat|       lon|alt| tz|dst|
+---+-------------+---------+----------+---+---+---+
|IPL|  Imperial Co| 32.83422|-115.57874|-54| -8|  A|
|NJK|El Centro Naf|32.829224|-115.67167|-42| -8|  A|
+---+-------------+---------+----------+---+---+---+

+---+----+---+---+---+---+---+
|faa|name|lat|lon|alt| tz|dst|
+---+----+---+---+---+---+---+
+---+----+---+---+---+---+---+

In [15]:
df_airports.select('alt').distinct().toPandas()

      alt
0     833
1    1580
2     148
3     463
4     243
..    ...
882    89
883  5431
884  4173
885   401
886  2376

[887 rows x 1 columns]

In [ ]:
### Usando SQL

In [ ]:
### Usando RDD

### 2 pergunta

In [16]:
Horario_verao ={
    '(Europe)': "E",
    '(US/Canada)':"A", 
    '(South America)':"S", 
    '(Australia)':"O", 
    '(New Zealand)':"Z", 
    '(None)': "N", 
    '(Unknown)':'U'}

In [17]:
print(Horario_verao)

{'(Europe)': 'E', '(US/Canada)': 'A', '(South America)': 'S', '(Australia)': 'O', '(New Zealand)': 'Z', '(None)': 'N', '(Unknown)': 'U'}

In [18]:
# Usando Dataframe

df_airports.filter(F.col('tz').between(-7,-5)).show()

df_airports = df_airports.withColumn('dst',
                                     F.when(F.col('tz').between(-7,-5),Horario_verao['(US/Canada)'])
                                     .otherwise(F.col('dst'))
                                    )

+---+--------------------+---------+----------+----+---+---+
|faa|                name|      lat|       lon| alt| tz|dst|
+---+--------------------+---------+----------+----+---+---+
|04G|   Lansdowne Airport|41.130474| -80.61958|1044| -5|  A|
|06A|Moton Field Munic...| 32.46057| -85.68003| 264| -5|  A|
|06C| Schaumburg Regional| 41.98934| -88.10124| 801| -6|  A|
|06N|     Randall Airport| 41.43191| -74.39156| 523| -5|  A|
|0G6|Williams County A...|41.467304|-84.506775| 730| -5|  A|
|0G7|Finger Lakes Regi...|42.883564|-76.781235| 492| -5|  A|
|0P2|Shoestring Aviati...|39.794823|-76.647194|1000| -5|  U|
|0W3|Harford County Ai...|39.566837|  -76.2024| 409| -5|  A|
|10C|  Galt Field Airport| 42.40289|-88.375114| 875| -6|  U|
|17G|Port Bucyrus-Craw...|40.781555| -82.97481|1003| -5|  A|
|1B9| Mansfield Municipal|42.000134| -71.19677| 122| -5|  A|
|1CS|Clow Internationa...|41.695976|-88.129234| 670| -6|  U|
|1OH|     Fortman Airport|40.555325| -84.38662| 885| -5|  U|
|1RL|Point Roberts Air...| 48.97972|-123.07889|  10| -7|  A|
|24C| Lowell City Airport| 42.95392|  -85.3439| 681| -5|  A|
|24J|Suwannee County A...|30.300125|  -83.0247| 104| -5|  A|
|25D| Forest Lake Airport|45.247746|-92.994385| 925| -5|  A|
|29D|  Grove City Airport|41.146027| -80.16775|1371| -5|  A|
|2G9|Somerset County A...| 40.03887| -79.01499|2275| -5|  A|
|2J9|Quincy Municipal ...| 30.59787| -84.55743| 225| -5|  A|
+---+--------------------+---------+----------+----+---+---+
only showing top 20 rows

In [ ]:
### Usando SQL

In [ ]:
### Usando RDD

### 3 pergunta

In [19]:
# Usando Dataframe
df_airports.filter(F.col('dst') == 'U').show()

df_airports = df_airports.withColumn('dst',
                                     F.when(F.col('dst') =='U', Horario_verao['(US/Canada)'])
                                     .otherwise(F.col('dst')))

+---+--------------------+---------+----------+----+---+---+
|faa|                name|      lat|       lon| alt| tz|dst|
+---+--------------------+---------+----------+----+---+---+
|19A|Jackson County Ai...|34.175865|  -83.5616| 951| -4|  U|
|BLD|Boulder City Muni...|  35.5651|  -114.514|2201| -8|  U|
|GCW|Grand Canyon West...|  35.5925| -113.4859|4825| -8|  U|
|MXY|    McCarthy Airport| 61.43706|-142.90308|1531| -8|  U|
|NGZ|         NAS Alameda|  37.7861| -122.3186|  10| -9|  U|
|SWD|      Seward Airport|60.126938|-149.41881|  22| -8|  U|
|SXQ|    Soldotna Airport|60.474957|-151.03824| 113| -8|  U|
|WWT|      Newtok Airport|60.939167|-164.64111|  25|-10|  U|
+---+--------------------+---------+----------+----+---+---+

In [20]:
df_airports.where(F.col('dst') == "U").show()

+---+----+---+---+---+---+---+
|faa|name|lat|lon|alt| tz|dst|
+---+----+---+---+---+---+---+
+---+----+---+---+---+---+---+

In [ ]:
### Usando SQL

In [ ]:
### Usando RDD

### 4.pergunta

In [21]:
region = ['EUA', 'ALASKA', 'OFFSHORE','MAINLAND-WEST','MAINLAND-EAST']

In [22]:
# Usando Dataframe

df_airports = df_airports.withColumn("region", 
                                    F.when(F.col("lon") < -124, 'ALASKA')
                                     .when((F.col("lon") > -50) | (F.col("lat") < 24),'OFFSHORE')
                                     .when( F.col("lon").between(-124,-95), 'MAINLAND-WEST')
                                     .when( F.col("lon").between(-95, -50), 'MAINLAND-EAST')
                                     .otherwise('NaN'))

df_airports.groupBy('region').count().show()

+-------------+-----+
|       region|count|
+-------------+-----+
|       ALASKA|  261|
|     OFFSHORE|    4|
|MAINLAND-EAST|  696|
|MAINLAND-WEST|  436|
+-------------+-----+

In [ ]:
### Usando SQL

In [ ]:
### Usando RDD

###  5. pergunta

In [23]:
# Usando dataframe

REGEX_AP_CATEGORY = '.*Airport*|.*Tradeport*|.*Heliport*|.*Airpor*|.*Arpt*'
REGEX_AD_CATEGORY = '.*Aerodrome*'
REGEX_AK_CATEGORY = '.*Airpark*|.*Aero Park*'
REGEX_AS_CATEGORY = '.*Station*|.*Air Station*'
REGEX_FL_CATEGORY = '.*Field*|.*Fld*'

df_airports = df_airports.withColumn('type', (
                                        F.when(F.col('name').rlike(REGEX_AP_CATEGORY), 'AP')
                                         .when(F.col('name').rlike(REGEX_AD_CATEGORY), 'AD')
                                         .when(F.col('name').rlike(REGEX_AK_CATEGORY), 'AK')
                                         .when(F.col('name').rlike(REGEX_AS_CATEGORY), 'AS')
                                         .when(F.col('name').rlike(REGEX_FL_CATEGORY), 'FL')
                                        ).otherwise('NaN'))

df_airports.groupBy('type').count().show()
df_airports.filter(F.col('type') == 'NaN').show()

+----+-----+
|type|count|
+----+-----+
|  AD|    1|
| NaN|  657|
|  AS|   19|
|  FL|   84|
|  AK|   12|
|  AP|  624|
+----+-----+

+---+--------------------+---------+-----------+----+---+---+-------------+----+
|faa|                name|      lat|        lon| alt| tz|dst|       region|type|
+---+--------------------+---------+-----------+----+---+---+-------------+----+
|06C| Schaumburg Regional| 41.98934|  -88.10124| 801| -6|  A|MAINLAND-EAST| NaN|
|0P2|Shoestring Aviati...|39.794823| -76.647194|1000| -5|  A|MAINLAND-EAST| NaN|
|0S9|Jefferson County ...| 48.05381|-122.810646| 108| -8|  A|MAINLAND-WEST| NaN|
|1B9| Mansfield Municipal|42.000134|  -71.19677| 122| -5|  A|MAINLAND-EAST| NaN|
|3G3| Wadsworth Municipal| 41.00316|  -81.75644| 974| -5|  A|MAINLAND-EAST| NaN|
|49X|   Chemehuevi Valley| 34.52889| -114.43197| 638| -8|  A|MAINLAND-WEST| NaN|
|ABE|  Lehigh Valley Intl|40.652084|   -75.4408| 393| -5|  A|MAINLAND-EAST| NaN|
|ABI|        Abilene Rgnl| 32.41132|   -99.6819|1791| -6|  A|MAINLAND-WEST| NaN|
|ABQ|Albuquerque Inter...|35.040222| -106.60919|5355| -7|  A|MAINLAND-WEST| NaN|
|ACK|       Nantucket Mem| 41.25305|  -70.06018|  48| -5|  A|MAINLAND-EAST| NaN|
|ACT|           Waco Rgnl|31.611288|  -97.23052| 516| -6|  A|MAINLAND-WEST| NaN|
|ACV|              Arcata| 40.97811| -124.10861| 221| -8|  A|       ALASKA| NaN|
|ACY|  Atlantic City Intl|39.457584|  -74.57716|  75| -5|  A|MAINLAND-EAST| NaN|
|ADM|        Ardmore Muni|34.300835|  -97.00889| 762| -6|  A|MAINLAND-WEST| NaN|
|ADQ|              Kodiak|57.749966| -152.49385|  78| -9|  A|       ALASKA| NaN|
|ADS|             Addison| 32.96856|  -96.83645| 644| -5|  A|MAINLAND-WEST| NaN|
|ADW|         Andrews Afb|38.810806|  -76.86703| 280| -5|  A|MAINLAND-EAST| NaN|
|AEX|     Alexandria Intl|  31.3274| -92.549835|  89| -6|  A|MAINLAND-EAST| NaN|
|AGN|Angoon Seaplane Base|57.503613|   -134.585|   0| -9|  A|       ALASKA| NaN|
|AKC|   Akron Fulton Intl|  41.0375|  -81.46692|1067| -5|  A|MAINLAND-EAST| NaN|
+---+--------------------+---------+-----------+----+---+---+-------------+----+
only showing top 20 rows

In [29]:
### Usando DataFrame

In [31]:
df_airports.where(F.col('type (category)')=='AP').show()

+---+--------------------+---------+----------+----+---+----+---------------+
|faa|                name|      lat|       lon| alt| tz| dst|type (category)|
+---+--------------------+---------+----------+----+---+----+---------------+
|04G|   Lansdowne Airport|41.130474| -80.61958|null| -5|   A|             AP|
|06A|Moton Field Munic...| 32.46057| -85.68003|null| -5|   A|             AP|
|06N|     Randall Airport| 41.43191| -74.39156|null| -5|   A|             AP|
|09J|Jekyll Island Air...|31.074472| -81.42778|null| -4|   A|             AP|
|0A9|Elizabethton Muni...|36.371223|-82.173416|null| -4|   A|             AP|
|0G6|Williams County A...|41.467304|-84.506775|null| -5|   A|             AP|
|0G7|Finger Lakes Regi...|42.883564|-76.781235|null| -5|   A|             AP|
|0W3|Harford County Ai...|39.566837|  -76.2024|null| -5|   A|             AP|
|10C|  Galt Field Airport| 42.40289|-88.375114|null| -6|null|             AP|
|17G|Port Bucyrus-Craw...|40.781555| -82.97481|null| -5|   A|             AP|
|19A|Jackson County Ai...|34.175865|  -83.5616|null| -4|   A|             AP|
|1A3|Martin Campbell F...|35.015804| -84.34683|null| -4|   A|             AP|
|1CS|Clow Internationa...|41.695976|-88.129234|null| -6|null|             AP|
|1G3|  Kent State Airport| 41.15139| -81.41511|null| -4|   A|             AP|
|1OH|     Fortman Airport|40.555325| -84.38662|null| -5|   A|             AP|
|24C| Lowell City Airport| 42.95392|  -85.3439|null| -5|   A|             AP|
|24J|Suwannee County A...|30.300125|  -83.0247|null| -5|   A|             AP|
|25D| Forest Lake Airport|45.247746|-92.994385|null| -5|   A|             AP|
|29D|  Grove City Airport|41.146027| -80.16775|null| -5|   A|             AP|
|2A0|  Mark Anton Airport| 35.48625| -84.93108|null| -4|   A|             AP|
+---+--------------------+---------+----------+----+---+----+---------------+
only showing top 20 rows

In [ ]:
### Usando SQL

In [ ]:
### Usando RDD

### 6.pergunta

In [24]:
LIST_TRUE = ["Base", "Aaf", "AFs", "Ahp", "Afb", "LRRS", "Lrrs", "Arb",
             "Naf", "NAS", "Nas", "Jrb", "Ns", "As", "Cgas", "Angb"]

## TRUE_REGEX = r'|'.join(map(lambda x : f".*({x}).*", LIST_TRUE))

In [25]:
df_airports = df_airports.withColumn('military',
                                    F.when(F.col('name').rlike(create_regex_from_list(LIST_TRUE)), True)
                                    .otherwise(False))

df_airports.groupBy('military').count().show()

+--------+-----+
|military|count|
+--------+-----+
|    true|  166|
|   false| 1231|
+--------+-----+

In [ ]:
### Usando DataFrame

In [ ]:
### Usando SQL

In [ ]:
### Usando RDD

### 7 pergunta

In [26]:
#lists
I_TYPES = ["International", "Intl", "Intercontinental"]
N_TYPES = ["National", "Natl"]
R_TYPES = ["Regional", "Reigonal", "Rgnl", "County", "Metro" "Metropolitan"]
M_TYPES = ["Municipal", "Muni", 'City']

# Usando dataframe
df_airports = df_airports.withColumn('administration',(
        F.when(
            F.col('name').rlike(create_regex_from_list(I_TYPES)), 'I'
        ).when(
            F.col('name').rlike(create_regex_from_list(N_TYPES)), 'N'
        ).when(
            F.col('name').rlike(create_regex_from_list(R_TYPES)), 'R'
        ).when(
            F.col('name').rlike(create_regex_from_list(M_TYPES)), 'M'
        ).otherwise('NaN')
    ))

In [27]:
df_airports.filter(F.col('administration') =='I').show()

+---+--------------------+---------+-----------+----+---+---+-------------+----+--------+--------------+
|faa|                name|      lat|        lon| alt| tz|dst|       region|type|military|administration|
+---+--------------------+---------+-----------+----+---+---+-------------+----+--------+--------------+
|0S9|Jefferson County ...| 48.05381|-122.810646| 108| -8|  A|MAINLAND-WEST| NaN|   false|             I|
|1CS|Clow Internationa...|41.695976| -88.129234| 670| -6|  A|MAINLAND-EAST|  AP|   false|             I|
|ABE|  Lehigh Valley Intl|40.652084|   -75.4408| 393| -5|  A|MAINLAND-EAST| NaN|   false|             I|
|ABQ|Albuquerque Inter...|35.040222| -106.60919|5355| -7|  A|MAINLAND-WEST| NaN|   false|             I|
|ACY|  Atlantic City Intl|39.457584|  -74.57716|  75| -5|  A|MAINLAND-EAST| NaN|   false|             I|
|AEX|     Alexandria Intl|  31.3274| -92.549835|  89| -6|  A|MAINLAND-EAST| NaN|   false|             I|
|AKC|   Akron Fulton Intl|  41.0375|  -81.46692|1067| -5|  A|MAINLAND-EAST| NaN|   false|             I|
|ALB|         Albany Intl| 42.74827|  -73.80169| 285| -5|  A|MAINLAND-EAST| NaN|   false|             I|
|ALI|          Alice Intl|27.740889|  -98.02695| 178| -6|  A|MAINLAND-WEST| NaN|   false|             I|
|AMA|Rick Husband Amar...|35.219368| -101.70593|3607| -6|  A|MAINLAND-WEST| NaN|   false|             I|
|ANC|Ted Stevens Ancho...|61.174362| -149.99637| 152| -9|  A|       ALASKA| NaN|   false|             I|
|ART|      Watertown Intl| 43.99192| -76.021736| 325| -5|  A|MAINLAND-EAST| NaN|   false|             I|
|ATL|Hartsfield Jackso...| 33.63672|  -84.42807|1026| -5|  A|MAINLAND-EAST| NaN|   false|             I|
|AUS|Austin Bergstrom ...|30.194529|  -97.66989| 542| -6|  A|MAINLAND-WEST| NaN|   false|             I|
|AVP|Wilkes Barre Scra...|41.338478| -75.723404| 962| -5|  A|MAINLAND-EAST| NaN|   false|             I|
|BDE|       Baudette Intl|48.728443|  -94.61222|1086| -6|  A|MAINLAND-EAST| NaN|   false|             I|
|BDL|        Bradley Intl| 41.93889|  -72.68322| 173| -5|  A|MAINLAND-EAST| NaN|   false|             I|
|BFI|Boeing Fld King C...|    47.53| -122.30195|  21| -8|  A|MAINLAND-WEST|  FL|   false|             I|
|BGR|         Bangor Intl|44.807446|  -68.82814| 192| -5|  A|MAINLAND-EAST| NaN|   false|             I|
|BHM|     Birmingham Intl|33.562943|  -86.75355| 644| -6|  A|MAINLAND-EAST| NaN|   false|             I|
+---+--------------------+---------+-----------+----+---+---+-------------+----+--------+--------------+
only showing top 20 rows

In [28]:
df_airports.groupBy('administration').count().show()

+--------------+-----+
|administration|count|
+--------------+-----+
|             M|  180|
|             N|    5|
|             R|  276|
|           NaN|  772|
|             I|  164|
+--------------+-----+

# Dataset Planes

### Pergunta 1

In [31]:
df_planes = df_planes.withColumn('tailchar',                                 
                                 F.regexp_replace(F.col("tailnum"),"N",""))

In [32]:
df_planes.select('tailnum','tailchar').filter(F.col('tailnum').contains('N')).show()

+-------+--------+
|tailnum|tailchar|
+-------+--------+
| N102UW|   102UW|
| N103US|   103US|
| N104UW|   104UW|
| N105UW|   105UW|
| N107US|   107US|
| N108UW|   108UW|
| N109UW|   109UW|
| N110UW|   110UW|
| N111US|   111US|
| N11206|   11206|
| N112US|   112US|
| N113UW|   113UW|
| N114UW|   114UW|
| N117UW|   117UW|
| N118US|   118US|
| N119US|   119US|
| N1200K|   1200K|
| N1201P|   1201P|
| N12114|   12114|
| N121DE|   121DE|
+-------+--------+
only showing top 20 rows

### Pergunta 2

In [33]:
# Usando Dataframe
df_planes.filter(F.col("year") == 0).count()

df_planes = df_planes.withColumn('year', (
    F.when(F.col('year') == 0, 1996)
     .otherwise(F.col('year'))
))

In [34]:
df_planes.filter(F.col("year") == 0).count()

0

### Pergunta 3

In [35]:
# Criando tabela ordenada por Manufacturer e Model
df_ordered = df_planes.groupBy("manufacturer",'model').min('year').orderBy('manufacturer','model')

# Renomeando colunas
df_ordered = df_ordered.withColumnRenamed('manufacturer', 'manufacturer1').withColumnRenamed('model', 'model1') \
                                                                          .withColumnRenamed('min(year)', 'year1')

# Criando tabela ordenada somente por manufacturer
df_ordered2 = df_planes.groupBy('manufacturer').min('year').orderBy('manufacturer')


# Renomeando colunas
df_ordered2 = df_ordered2.withColumnRenamed('manufacturer', 'manufacturer2') \
.withColumnRenamed('min(year)', 'year2')


df_final = df_planes.join(df_ordered, (df_planes.manufacturer == df_ordered.manufacturer1) &
(df_planes.model == df_ordered.model1),'left')

# Fazendo left join da tabela df_final com a df_ordered2

df_final = df_final.join(df_ordered2, df_final.manufacturer == df_ordered2.manufacturer2 , 'left')



# Modificando a coluna year para inputar os anos

df_final = df_final.withColumn('year',
F.when((F.col('year').isNull()) & (F.col('year1').isNull()) & (F.col('year2').isNull()), "NaN")
.when((F.col('year').isNull()) & (F.col('year1').isNull()), F.col('year2'))
.when(F.col('year').isNull(), F.col('year1'))
.otherwise(F.col('year'))
)
# Dropando as colunas criadas pelo join 
df_planes = df_final.drop('manufacturer1','manufacturer2','model1','year1','year2')

df_planes.show()

+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+--------+
|tailnum|year|                type|    manufacturer|   model|engines|seats|speed|   engine|tailchar|
+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+--------+
| N102UW|1998|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|   102UW|
| N103US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|   103US|
| N104UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|   104UW|
| N105UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|   105UW|
| N107US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|   107US|
| N108UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|   108UW|
| N109UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|   109UW|
| N110UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|   110UW|
| N111US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|   111US|
| N11206|2000|Fixed wing multi ...|          BOEING| 737-824|      2|  149| null|Turbo-fan|   11206|
| N112US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|   112US|
| N113UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|   113UW|
| N114UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|   114UW|
| N117UW|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|   117UW|
| N118US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|   118US|
| N119US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|   119US|
| N1200K|1998|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|   1200K|
| N1201P|1998|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|   1201P|
| N12114|1995|Fixed wing multi ...|          BOEING| 757-224|      2|  178| null|Turbo-jet|   12114|
| N121DE|1987|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|   121DE|
+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+--------+
only showing top 20 rows

### Pergunta 4

In [38]:
# coluna criada
df_planes = df_planes.withColumn('age',(
                F.when(
                   check_empty_column('year'), None
                ).otherwise(format_year_date(F.col("year")))
            ))

df_planes.show(vertical=True)

-RECORD 0----------------------------
 tailnum      | N102UW
 year         | 1998
 type         | Fixed wing multi ...
 manufacturer | AIRBUS INDUSTRIE
 model        | A320-214
 engines      | 2
 seats        | 182
 speed        | null
 engine       | Turbo-fan
 tailchar     | 102UW
 age          | 24
-RECORD 1----------------------------
 tailnum      | N103US
 year         | 1999
 type         | Fixed wing multi ...
 manufacturer | AIRBUS INDUSTRIE
 model        | A320-214
 engines      | 2
 seats        | 182
 speed        | null
 engine       | Turbo-fan
 tailchar     | 103US
 age          | 23
-RECORD 2----------------------------
 tailnum      | N104UW
 year         | 1999
 type         | Fixed wing multi ...
 manufacturer | AIRBUS INDUSTRIE
 model        | A320-214
 engines      | 2
 seats        | 182
 speed        | null
 engine       | Turbo-fan
 tailchar     | 104UW
 age          | 23
-RECORD 3----------------------------
 tailnum      | N105UW
 year         | 1999
 type         | Fixed wing multi ...
 manufacturer | AIRBUS INDUSTRIE
 model        | A320-214
 engines      | 2
 seats        | 182
 speed        | null
 engine       | Turbo-fan
 tailchar     | 105UW
 age          | 23
-RECORD 4----------------------------
 tailnum      | N107US
 year         | 1999
 type         | Fixed wing multi ...
 manufacturer | AIRBUS INDUSTRIE
 model        | A320-214
 engines      | 2
 seats        | 182
 speed        | null
 engine       | Turbo-fan
 tailchar     | 107US
 age          | 23
-RECORD 5----------------------------
 tailnum      | N108UW
 year         | 1999
 type         | Fixed wing multi ...
 manufacturer | AIRBUS INDUSTRIE
 model        | A320-214
 engines      | 2
 seats        | 182
 speed        | null
 engine       | Turbo-fan
 tailchar     | 108UW
 age          | 23
-RECORD 6----------------------------
 tailnum      | N109UW
 year         | 1999
 type         | Fixed wing multi ...
 manufacturer | AIRBUS INDUSTRIE
 model        | A320-214
 engines      | 2
 seats        | 182
 speed        | null
 engine       | Turbo-fan
 tailchar     | 109UW
 age          | 23
-RECORD 7----------------------------
 tailnum      | N110UW
 year         | 1999
 type         | Fixed wing multi ...
 manufacturer | AIRBUS INDUSTRIE
 model        | A320-214
 engines      | 2
 seats        | 182
 speed        | null
 engine       | Turbo-fan
 tailchar     | 110UW
 age          | 23
-RECORD 8----------------------------
 tailnum      | N111US
 year         | 1999
 type         | Fixed wing multi ...
 manufacturer | AIRBUS INDUSTRIE
 model        | A320-214
 engines      | 2
 seats        | 182
 speed        | null
 engine       | Turbo-fan
 tailchar     | 111US
 age          | 23
-RECORD 9----------------------------
 tailnum      | N11206
 year         | 2000
 type         | Fixed wing multi ...
 manufacturer | BOEING
 model        | 737-824
 engines      | 2
 seats        | 149
 speed        | null
 engine       | Turbo-fan
 tailchar     | 11206
 age          | 22
-RECORD 10---------------------------
 tailnum      | N112US
 year         | 1999
 type         | Fixed wing multi ...
 manufacturer | AIRBUS INDUSTRIE
 model        | A320-214
 engines      | 2
 seats        | 182
 speed        | null
 engine       | Turbo-fan
 tailchar     | 112US
 age          | 23
-RECORD 11---------------------------
 tailnum      | N113UW
 year         | 1999
 type         | Fixed wing multi ...
 manufacturer | AIRBUS INDUSTRIE
 model        | A320-214
 engines      | 2
 seats        | 182
 speed        | null
 engine       | Turbo-fan
 tailchar     | 113UW
 age          | 23
-RECORD 12---------------------------
 tailnum      | N114UW
 year         | 1999
 type         | Fixed wing multi ...
 manufacturer | AIRBUS INDUSTRIE
 model        | A320-214
 engines      | 2
 seats        | 182
 speed        | null
 engine       | Turbo-fan
 tailchar     | 114UW
 age          | 23
-RECORD 13---------------------------
 tailnum      | N117UW
 year         | 2000
 type         | Fixed wing multi ...
 manufacturer | AIRBUS INDUSTRIE
 model        | A320-214
 engines      | 2
 seats        | 182
 speed        | null
 engine       | Turbo-fan
 tailchar     | 117UW
 age          | 22
-RECORD 14---------------------------
 tailnum      | N118US
 year         | 2000
 type         | Fixed wing multi ...
 manufacturer | AIRBUS INDUSTRIE
 model        | A320-214
 engines      | 2
 seats        | 182
 speed        | null
 engine       | Turbo-fan
 tailchar     | 118US
 age          | 22
-RECORD 15---------------------------
 tailnum      | N119US
 year         | 2000
 type         | Fixed wing multi ...
 manufacturer | AIRBUS INDUSTRIE
 model        | A320-214
 engines      | 2
 seats        | 182
 speed        | null
 engine       | Turbo-fan
 tailchar     | 119US
 age          | 22
-RECORD 16---------------------------
 tailnum      | N1200K
 year         | 1998
 type         | Fixed wing multi ...
 manufacturer | BOEING
 model        | 767-332
 engines      | 2
 seats        | 330
 speed        | null
 engine       | Turbo-fan
 tailchar     | 1200K
 age          | 24
-RECORD 17---------------------------
 tailnum      | N1201P
 year         | 1998
 type         | Fixed wing multi ...
 manufacturer | BOEING
 model        | 767-332
 engines      | 2
 seats        | 330
 speed        | null
 engine       | Turbo-fan
 tailchar     | 1201P
 age          | 24
-RECORD 18---------------------------
 tailnum      | N12114
 year         | 1995
 type         | Fixed wing multi ...
 manufacturer | BOEING
 model        | 757-224
 engines      | 2
 seats        | 178
 speed        | null
 engine       | Turbo-jet
 tailchar     | 12114
 age          | 27
-RECORD 19---------------------------
 tailnum      | N121DE
 year         | 1987
 type         | Fixed wing multi ...
 manufacturer | BOEING
 model        | 767-332
 engines      | 2
 seats        | 330
 speed        | null
 engine       | Turbo-fan
 tailchar     | 121DE
 age          | 35
only showing top 20 rows

### Pergunta 5

In [39]:
# Usando data Frame

df_planes= df_planes.withColumn("type",(
        F.when(
            (F.col('type') =="Fixed wing multi engine"), 'MULTI_ENG')
         .when(
            (F.col('type') =="Fixed wing single engine"), 'SINGLE_ENG')
     .when(
            (F.col('type') =="Rotorcraft"), 'ROTORCRAFT')
))


df_planes.select(F.col("type")).distinct().show()

+----------+
|      type|
+----------+
|SINGLE_ENG|
| MULTI_ENG|
|ROTORCRAFT|
+----------+

### Pergunta 6

In [40]:
### Usando DataFrame
df_planes = df_planes.withColumn("manufacturer",(
    F.when(
        (F.col('manufacturer').contains('AIRBUS')),"AIRBUS")
     .when((F.col('manufacturer').contains('BOEING')),"BOEING")
     .when((F.col('manufacturer').contains('BOEING')),"BOEING")
     .when((F.col('manufacturer').contains('CESSNA')),"CESSNA")
     .when((F.col('manufacturer').contains('EMBRAER')),"EMBRAER")
     .when((F.col('manufacturer').contains('SIKORSKY')),"SIKORSKY")
     .when((F.col('manufacturer').contains('CANADAIR')),"CANADAIR")
     .when((F.col('manufacturer').contains('PIPER')),"PIPER")
     .when((F.col('manufacturer').contains('MCDONNELL DOUGLAS')),"MCDONNELL DOUGLAS")
     .when((F.col('manufacturer').contains('CIRRUS')),"CIRRUS")
     .when((F.col('manufacturer').contains('BELL')),"BELL")
     .when((F.col('manufacturer').contains('KILDALL GARY')),"KILDALL GARY")
     .when((F.col('manufacturer').contains('LAMBERT RICHARD')),"LAMBERT RICHARD")
     .when((F.col('manufacturer').contains('BARKER JACK')),"BARKER JACK")
     .when((F.col('manufacturer').contains('ROBINSON HELICOPTER')),"ROBINSON HELICOPTER")
     .when((F.col('manufacturer').contains('GULFSTREAM')),"GULFSTREAM")
     .when((F.col('manufacturer').contains('BOMBARDIER')),"BOMBARDIER")
     .when((F.col('manufacturer').contains('MARZ BARRY')),"MARZ BARRY")
     ))

In [41]:
df_planes.filter(F.col('manufacturer') == 'BARKER JACK L').show()

+-------+----+----+------------+-----+-------+-----+-----+------+--------+---+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|tailchar|age|
+-------+----+----+------------+-----+-------+-----+-----+------+--------+---+
+-------+----+----+------------+-----+-------+-----+-----+------+--------+---+

### Pergunta 7

In [46]:
df_planes = df_planes.withColumn('model',(
          F.regexp_replace(F.col("model"),REGEX_PARENTESE,"")))

In [47]:
df_planes.filter((F.col('model').contains('(')) | (F.col('model').contains(')'))).show()
df_planes.filter(F.col('model').contains('DC-9-82')).show()
df_planes.filter(F.col("model").contains('(')).distinct().show()

+-------+----+----+------------+-----+-------+-----+-----+------+--------+---+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|tailchar|age|
+-------+----+----+------------+-----+-------+-----+-----+------+--------+---+
+-------+----+----+------------+-----+-------+-----+-----+------+--------+---+

+-------+----+---------+-----------------+------------+-------+-----+-----+---------+--------+---+
|tailnum|year|     type|     manufacturer|       model|engines|seats|speed|   engine|tailchar|age|
+-------+----+---------+-----------------+------------+-------+-----+-----+---------+--------+---+
| N426AA|1986|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82MD-82|      2|  172| null|Turbo-fan|   426AA| 36|
| N456AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82MD-82|      2|  172| null|Turbo-fan|   456AA| 34|
| N467AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82MD-82|      2|  172| null|Turbo-fan|   467AA| 34|
| N468AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82MD-82|      2|  172| null|Turbo-fan|   468AA| 34|
| N470AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82MD-82|      2|  172| null|Turbo-fan|   470AA| 34|
| N472AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82MD-82|      2|  172| null|Turbo-fan|   472AA| 34|
| N473AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82MD-82|      2|  172| null|Turbo-fan|   473AA| 34|
| N476AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82MD-82|      2|  172| null|Turbo-fan|   476AA| 34|
| N477AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82MD-82|      2|  172| null|Turbo-fan|   477AA| 34|
| N478AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82MD-82|      2|  172| null|Turbo-fan|   478AA| 34|
| N480AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82MD-82|      2|  172| null|Turbo-fan|   480AA| 34|
| N481AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82MD-82|      2|  172| null|Turbo-fan|   481AA| 34|
| N486AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82MD-82|      2|  172| null|Turbo-fan|   486AA| 34|
| N487AA|1988|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82MD-82|      2|  172| null|Turbo-fan|   487AA| 34|
| N490AA|1989|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82MD-82|      2|  172| null|Turbo-fan|   490AA| 33|
| N496AA|1989|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82MD-82|      2|  172| null|Turbo-fan|   496AA| 33|
| N499AA|1989|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82MD-82|      2|  172| null|Turbo-fan|   499AA| 33|
| N513AA|1990|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82MD-82|      2|  172| null|Turbo-fan|   513AA| 32|
| N553AA|1991|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82MD-82|      2|  172| null|Turbo-fan|   553AA| 31|
| N554AA|1991|MULTI_ENG|MCDONNELL DOUGLAS|DC-9-82MD-82|      2|  172| null|Turbo-fan|   554AA| 31|
+-------+----+---------+-----------------+------------+-------+-----+-----+---------+--------+---+
only showing top 20 rows

+-------+----+----+------------+-----+-------+-----+-----+------+--------+---+
|tailnum|year|type|manufacturer|model|engines|seats|speed|engine|tailchar|age|
+-------+----+----+------------+-----+-------+-----+-----+------+--------+---+
+-------+----+----+------------+-----+-------+-----+-----+------+--------+---+

### Pergunta 8

In [48]:
df_planes = df_planes.withColumn('speed',(
                F.when(check_empty_column('speed'),  F.ceil(F.col('seats') / 0.36))
))

### Pergunta 9

In [49]:
df_planes = df_planes.withColumn("engine_type",(
     F.when(
         (F.col('engine') =="Turbo-fan"), 'FAN')
     .when(
         (F.col('engine') =="Turbo-jet"), 'JET')
     .when(
         (F.col('engine') =="Turbo-shaft"), 'SHAFT')
     .when(
         (F.col('engine') =="4 Cycle"), 'CYCLE')
))

# Dataset Flights

### Pergunta 1

In [57]:
df_flights =df_flights.withColumn('hour',(
                            F.when(check_empty_column('hour'), 0)
                                 .otherwise(F.col('hour'))))\
                      .withColumn('minute',(
                              F.when(check_empty_column('minute'), 0)
                                 .otherwise(F.col('minute'))))

In [58]:
df_flights.where(F.col('minute')==0).count()

226

### Pergunta 2

In [59]:
df_flights =df_flights.withColumn('hour',(
                            F.when(
                                F.col('hour')==24,0)
                                 .otherwise(F.col('hour'))
))

In [60]:
df_flights.where(F.col('hour')==24).count()

0

### Pergunta 3

In [61]:
# Incluindo coluna 
df_flights = df_flights.withColumn("dep_datetime", F.expr("make_timestamp(year, month, day, hour, minute, 00)"))

df_flights.show(vertical = True, truncate = False)

-RECORD 0---------------------------
 year         | 2014
 month        | 12
 day          | 8
 dep_time     | 658
 dep_delay    | -7
 arr_time     | 935
 arr_delay    | -5
 carrier      | VX
 tailnum      | N846VA
 flight       | 1780
 origin       | SEA
 dest         | LAX
 air_time     | 132
 distance     | 954
 hour         | 6
 minute       | 58
 dep_datetime | 2014-12-08 06:58:00
-RECORD 1---------------------------
 year         | 2014
 month        | 1
 day          | 22
 dep_time     | 1040
 dep_delay    | 5
 arr_time     | 1505
 arr_delay    | 5
 carrier      | AS
 tailnum      | N559AS
 flight       | 851
 origin       | SEA
 dest         | HNL
 air_time     | 360
 distance     | 2677
 hour         | 10
 minute       | 40
 dep_datetime | 2014-01-22 10:40:00
-RECORD 2---------------------------
 year         | 2014
 month        | 3
 day          | 9
 dep_time     | 1443
 dep_delay    | -2
 arr_time     | 1652
 arr_delay    | 2
 carrier      | VX
 tailnum      | N847VA
 flight       | 755
 origin       | SEA
 dest         | SFO
 air_time     | 111
 distance     | 679
 hour         | 14
 minute       | 43
 dep_datetime | 2014-03-09 14:43:00
-RECORD 3---------------------------
 year         | 2014
 month        | 4
 day          | 9
 dep_time     | 1705
 dep_delay    | 45
 arr_time     | 1839
 arr_delay    | 34
 carrier      | WN
 tailnum      | N360SW
 flight       | 344
 origin       | PDX
 dest         | SJC
 air_time     | 83
 distance     | 569
 hour         | 17
 minute       | 5
 dep_datetime | 2014-04-09 17:05:00
-RECORD 4---------------------------
 year         | 2014
 month        | 3
 day          | 9
 dep_time     | 754
 dep_delay    | -1
 arr_time     | 1015
 arr_delay    | 1
 carrier      | AS
 tailnum      | N612AS
 flight       | 522
 origin       | SEA
 dest         | BUR
 air_time     | 127
 distance     | 937
 hour         | 7
 minute       | 54
 dep_datetime | 2014-03-09 07:54:00
-RECORD 5---------------------------
 year         | 2014
 month        | 1
 day          | 15
 dep_time     | 1037
 dep_delay    | 7
 arr_time     | 1352
 arr_delay    | 2
 carrier      | WN
 tailnum      | N646SW
 flight       | 48
 origin       | PDX
 dest         | DEN
 air_time     | 121
 distance     | 991
 hour         | 10
 minute       | 37
 dep_datetime | 2014-01-15 10:37:00
-RECORD 6---------------------------
 year         | 2014
 month        | 7
 day          | 2
 dep_time     | 847
 dep_delay    | 42
 arr_time     | 1041
 arr_delay    | 51
 carrier      | WN
 tailnum      | N422WN
 flight       | 1520
 origin       | PDX
 dest         | OAK
 air_time     | 90
 distance     | 543
 hour         | 8
 minute       | 47
 dep_datetime | 2014-07-02 08:47:00
-RECORD 7---------------------------
 year         | 2014
 month        | 5
 day          | 12
 dep_time     | 1655
 dep_delay    | -5
 arr_time     | 1842
 arr_delay    | -18
 carrier      | VX
 tailnum      | N361VA
 flight       | 755
 origin       | SEA
 dest         | SFO
 air_time     | 98
 distance     | 679
 hour         | 16
 minute       | 55
 dep_datetime | 2014-05-12 16:55:00
-RECORD 8---------------------------
 year         | 2014
 month        | 4
 day          | 19
 dep_time     | 1236
 dep_delay    | -4
 arr_time     | 1508
 arr_delay    | -7
 carrier      | AS
 tailnum      | N309AS
 flight       | 490
 origin       | SEA
 dest         | SAN
 air_time     | 135
 distance     | 1050
 hour         | 12
 minute       | 36
 dep_datetime | 2014-04-19 12:36:00
-RECORD 9---------------------------
 year         | 2014
 month        | 11
 day          | 19
 dep_time     | 1812
 dep_delay    | -3
 arr_time     | 2352
 arr_delay    | -4
 carrier      | AS
 tailnum      | N564AS
 flight       | 26
 origin       | SEA
 dest         | ORD
 air_time     | 198
 distance     | 1721
 hour         | 18
 minute       | 12
 dep_datetime | 2014-11-19 18:12:00
-RECORD 10--------------------------
 year         | 2014
 month        | 11
 day          | 8
 dep_time     | 1653
 dep_delay    | -2
 arr_time     | 1924
 arr_delay    | -1
 carrier      | AS
 tailnum      | N323AS
 flight       | 448
 origin       | SEA
 dest         | LAX
 air_time     | 130
 distance     | 954
 hour         | 16
 minute       | 53
 dep_datetime | 2014-11-08 16:53:00
-RECORD 11--------------------------
 year         | 2014
 month        | 8
 day          | 3
 dep_time     | 1120
 dep_delay    | 0
 arr_time     | 1415
 arr_delay    | 2
 carrier      | AS
 tailnum      | N305AS
 flight       | 656
 origin       | SEA
 dest         | PHX
 air_time     | 154
 distance     | 1107
 hour         | 11
 minute       | 20
 dep_datetime | 2014-08-03 11:20:00
-RECORD 12--------------------------
 year         | 2014
 month        | 10
 day          | 30
 dep_time     | 811
 dep_delay    | 21
 arr_time     | 1038
 arr_delay    | 29
 carrier      | AS
 tailnum      | N433AS
 flight       | 608
 origin       | SEA
 dest         | LAS
 air_time     | 127
 distance     | 867
 hour         | 8
 minute       | 11
 dep_datetime | 2014-10-30 08:11:00
-RECORD 13--------------------------
 year         | 2014
 month        | 11
 day          | 12
 dep_time     | 2346
 dep_delay    | -4
 arr_time     | 217
 arr_delay    | -28
 carrier      | AS
 tailnum      | N765AS
 flight       | 121
 origin       | SEA
 dest         | ANC
 air_time     | 183
 distance     | 1448
 hour         | 23
 minute       | 46
 dep_datetime | 2014-11-12 23:46:00
-RECORD 14--------------------------
 year         | 2014
 month        | 10
 day          | 31
 dep_time     | 1314
 dep_delay    | 89
 arr_time     | 1544
 arr_delay    | 111
 carrier      | AS
 tailnum      | N713AS
 flight       | 306
 origin       | SEA
 dest         | SFO
 air_time     | 129
 distance     | 679
 hour         | 13
 minute       | 14
 dep_datetime | 2014-10-31 13:14:00
-RECORD 15--------------------------
 year         | 2014
 month        | 1
 day          | 29
 dep_time     | 2009
 dep_delay    | 3
 arr_time     | 2159
 arr_delay    | 9
 carrier      | UA
 tailnum      | N27205
 flight       | 1458
 origin       | PDX
 dest         | SFO
 air_time     | 90
 distance     | 550
 hour         | 20
 minute       | 9
 dep_datetime | 2014-01-29 20:09:00
-RECORD 16--------------------------
 year         | 2014
 month        | 12
 day          | 17
 dep_time     | 2015
 dep_delay    | 50
 arr_time     | 2150
 arr_delay    | 41
 carrier      | AS
 tailnum      | N626AS
 flight       | 368
 origin       | SEA
 dest         | SMF
 air_time     | 76
 distance     | 605
 hour         | 20
 minute       | 15
 dep_datetime | 2014-12-17 20:15:00
-RECORD 17--------------------------
 year         | 2014
 month        | 8
 day          | 11
 dep_time     | 1017
 dep_delay    | -3
 arr_time     | 1613
 arr_delay    | -7
 carrier      | WN
 tailnum      | N8634A
 flight       | 827
 origin       | SEA
 dest         | MDW
 air_time     | 216
 distance     | 1733
 hour         | 10
 minute       | 17
 dep_datetime | 2014-08-11 10:17:00
-RECORD 18--------------------------
 year         | 2014
 month        | 1
 day          | 13
 dep_time     | 2156
 dep_delay    | -9
 arr_time     | 607
 arr_delay    | -15
 carrier      | AS
 tailnum      | N597AS
 flight       | 24
 origin       | SEA
 dest         | BOS
 air_time     | 290
 distance     | 2496
 hour         | 21
 minute       | 56
 dep_datetime | 2014-01-13 21:56:00
-RECORD 19--------------------------
 year         | 2014
 month        | 6
 day          | 5
 dep_time     | 1733
 dep_delay    | -12
 arr_time     | 1945
 arr_delay    | -10
 carrier      | OO
 tailnum      | N215AG
 flight       | 3488
 origin       | PDX
 dest         | BUR
 air_time     | 111
 distance     | 817
 hour         | 17
 minute       | 33
 dep_datetime | 2014-06-05 17:33:00
only showing top 20 rows

### Pergunta 4

In [63]:
df_flights = df_flights.withColumn('dep_time', F.when(check_empty_column('hour'), F.concat(F.col('hour'), F.col('minute')))
                                                .otherwise(F.col('dep_time'))   
                                  )

df_flights.createOrReplaceTempView('flights')

spark.getOrCreate().sql("select dep_time, hour, minute from flights").show(5)

+--------+----+------+
|dep_time|hour|minute|
+--------+----+------+
|     658|   6|    58|
|    1040|  10|    40|
|    1443|  14|    43|
|    1705|  17|     5|
|     754|   7|    54|
+--------+----+------+
only showing top 5 rows

### Pergunta 5

In [64]:
df_flights =df_flights.withColumn('dep_delay',(
                            F.when(check_empty_column('dep_delay'), 0)
                             .otherwise(F.col('dep_delay'))))

In [65]:
df_flights.where(F.col('dep_delay').isNull()).count()

0

### Pergunta 6

In [66]:
df_flights =df_flights.withColumn('arr_delay',(
                            F.when(check_empty_column('arr_delay'), 0)
                             .otherwise(F.col('arr_delay'))))

### Pergunta 7

In [67]:
df_flights = df_flights.drop('year', 'month', 'day', 'hour', 'minute')

df_flights.show()

+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+
|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|       dep_datetime|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+
|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|2014-12-08 06:58:00|
|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|2014-01-22 10:40:00|
|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|2014-03-09 14:43:00|
|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|2014-04-09 17:05:00|
|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|2014-03-09 07:54:00|
|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|2014-01-15 10:37:00|
|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|2014-07-02 08:47:00|
|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|2014-05-12 16:55:00|
|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|2014-04-19 12:36:00|
|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|2014-11-19 18:12:00|
|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|2014-11-08 16:53:00|
|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|2014-08-03 11:20:00|
|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|2014-10-30 08:11:00|
|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|2014-11-12 23:46:00|
|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|2014-10-31 13:14:00|
|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|2014-01-29 20:09:00|
|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|2014-12-17 20:15:00|
|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|2014-08-11 10:17:00|
|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|2014-01-13 21:56:00|
|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|2014-06-05 17:33:00|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+
only showing top 20 rows

### Pergunta 8

In [81]:
df_flights = df_flights.select("*",
                               (F.col('distance') * 0.1 + 20).cast('int').alias('air_time_projected'))

### Pergunta 9

In [69]:
flights_mean = df_flights.groupBy(F.col('dest').alias('dest1'), F.col('origin').alias('origin1'))\
    .agg(F.round(F.avg('air_time'), 0).cast('int').alias('air_time_expected')) #round ou ceil?

In [70]:
df_flights = df_flights.join(flights_mean,
             (df_flights.dest == flights_mean.dest1) & 
             (df_flights.origin == flights_mean.origin1),
             'left')

In [71]:
df_flights = df_flights.drop('dest1','origin1')

In [72]:
df_flights.filter(F.col('tailnum') == 'N650SW').show(2,vertical=True)

-RECORD 0--------------------------------
 dep_time          | 704
 dep_delay         | 4
 arr_time          | 1033
 arr_delay         | -2
 carrier           | WN
 tailnum           | N650SW
 flight            | 397
 origin            | PDX
 dest              | ABQ
 air_time          | 133
 distance          | 1111
 dep_datetime      | 2014-03-20 07:04:00
 air_time_expected | 136
-RECORD 1--------------------------------
 dep_time          | 2207
 dep_delay         | 72
 arr_time          | 2329
 arr_delay         | 64
 carrier           | WN
 tailnum           | N650SW
 flight            | 32
 origin            | PDX
 dest              | SMF
 air_time          | 74
 distance          | 479
 dep_datetime      | 2014-04-08 22:07:00
 air_time_expected | 68

### Pergunta 10

In [82]:
df_flights.withColumn('max', F.greatest(F.col('air_time_projected'), F.col('air_time_expected'))).toPandas()

,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,dep_datetime,air_time_expected,haul_duration,dep_season,dep_delay_category,air_time_projected,max
0,658,-7,935,-5,VX,N846VA,1780,SEA,LAX,132.0,954,2014-12-08 06:58:00,127,SHORT-HAUL,FALL,ANTECIPATED,115,127
1,1040,5,1505,5,AS,N559AS,851,SEA,HNL,360.0,2677,2014-01-22 10:40:00,344,LONG-HAUL,WINTER,MINOR,287,344
2,1443,-2,1652,2,VX,N847VA,755,SEA,SFO,111.0,679,2014-03-09 14:43:00,101,SHORT-HAUL,WINTER,ANTECIPATED,87,101
3,1705,45,1839,34,WN,N360SW,344,PDX,SJC,83.0,569,2014-04-09 17:05:00,86,SHORT-HAUL,SPRING,MINOR,76,86
4,754,-1,1015,1,AS,N612AS,522,SEA,BUR,127.0,937,2014-03-09 07:54:00,122,SHORT-HAUL,WINTER,ANTECIPATED,113,122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1806,-4,2104,-6,OO,N225AG,3458,SEA,SLC,89.0,689,2014-06-23 18:06:00,89,SHORT-HAUL,SUMER,ANTECIPATED,88,89
9996,2336,11,452,-13,AA,N3LEAA,1230,SEA,DFW,178.0,1660,2014-08-31 23:36:00,196,SHORT-HAUL,SUMER,MINOR,186,196
9997,904,-1,1042,-5,AS,N523AS,360,SEA,SMF,81.0,605,2014-08-08 09:04:00,83,SHORT-HAUL,SUMER,ANTECIPATED,80,83
9998,1441,26,1820,10,WN,N8647A,2857,SEA,ABQ,133.0,1180,2014-08-29 14:41:00,143,SHORT-HAUL,SUMER,MINOR,138,143
9999,1702,-3,1950,-10,DL,N583NW,2237,SEA,HNL,332.0,2677,2014-07-13 17:02:00,344,MEDIUM-HAUL,SUMER,ANTECIPATED,287,344

### Pergunta 11

In [83]:
# contando valores nulos!!!!
df_flights = df_flights.withColumn('air_time',(
                        F.when(check_empty_column('air_time'), F.col('dep_time') + F.col('air_time'))
                         .otherwise(F.col('air_time'))
))

### Pergunta 12

In [77]:
df_flights = df_flights.withColumn('haul_duration',(
                    F.when((df_flights.air_time >= 20) &
                           (df_flights.air_time < 180),
                           'SHORT-HAUL'
                          )
                     .when((df_flights.air_time >= 180) &
                           (df_flights.air_time < 360),
                           'MEDIUM-HAUL'
                          )
                     .when((df_flights.air_time >= 360), 
                           'LONG-HAUL'
                          )))

### Pergunta 13

In [79]:
df_flights = df_flights.withColumn('dep_season',
             F.when(F.col('dep_datetime').between('2013-12-21 21:48:00','2014-03-20 15:33:00'), 'WINTER')
              .when(F.col('dep_datetime').between('2014-03-20 15:33:00','2014-06-21 10:14:00'), 'SPRING')
              .when(F.col('dep_datetime').between('2014-06-21 10:14:00','2014-09-23 02:04:00'), 'SUMER')
              .when(F.col('dep_datetime').between('2014-09-23 02:04:00','2014-12-21 21:48:00'), 'FALL')
              .when(F.col('dep_datetime').between('2014-12-21 21:48:00','2015-03-20 15:33:00'), 'WINTER'))


df_flights.select('dep_season').groupBy('dep_season').count().show()

+----------+-----+
|dep_season|count|
+----------+-----+
|    WINTER| 2149|
|    SPRING| 2560|
|      FALL| 2373|
|     SUMER| 2918|
+----------+-----+

### Pergunta 14

In [80]:
df_flights = df_flights.withColumn('dep_delay_category', (
                      F.when((F.col('dep_delay') < 0), "ANTECIPATED")
                       .when((F.col('dep_delay') == 0), "INTIME")
                       .when((F.col('dep_delay') >= 60 ), "MAJOR")
                       .otherwise("MINOR")
))

In [56]:
### Usando SQL

In [ ]:
### Usando RDD

### SALVANDO ARQUIVO  (DATAFRAME)

In [ ]:
### SALVANDO ARQUIVO CSV
(df_airports.select(df_airports.colRegex("`^qa_.*`"))
            .repartition(1) # coalesce
            .write.format("CSV")
            .mode('overwrite')
            .option("header", "true")
            .save("Datasets/airports_qa.CSV"))

In [85]:
### SALVANDO ARQUIVO PARQUET
(df_airports.repartition(1) # coalesce
            .write.format("parquet")
            .mode('overwrite')
            .option("header", "true")
            .save("Datasets/transformacao/airports_proc.parquet"))

### SALVANDO ARQUIVO (RDD)

In [ ]:
(rdd_airports.map(qa_faa)
             .map(qa_name)
             .map(qa_lat)
             .map(qa_lon)
             .map(qa_alt)
             .map(qa_tz)
             .map(qa_dst)
             .saveAsTextFile("Datasets/airports_.txt"))

In [73]:
pwd

'C:\\Academia_Pyspark\\exe_rev_douglas'